.body{
    width: 100%;
    height: 1300px;
    background-color: #010409;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    
}

.header_image{
    width: 60px;
    height: 60px;
    margin: 25px 0px 0px 35%;
    padding-right: 15px;
}

.header_text{
    width: 30%;
    height: 30px;
    font-size: 35px;
    margin-top: 27.5px;
    color: #afc5d1
    ;
    
}

.header_span{
 color: #336ac3;
 font-weight: bolder;
 font-size: 50px;
}

.header_span_2{
    font-size: 25px;
}

.search{
    width: 25%;
    height: 50px;
    margin: 15px 0px 0px 37.5%;
    display: flex;
    flex-direction: row;
}

.search_searchbar{
    width: 60%;
    height: 40px;
    margin-top: 2.5px;
    background-color: #0d1117;
    border-radius: 10px;
    border: solid 1px #1b2026;
    color: white;
}

.search_button{
    width: 35%;
    height: 50px;
    margin-left: 5%;
    color: rgb(0, 0, 0);
    background-color: #1f6feb;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.search_button:hover{
    background-color: #508be4;
    transition-duration: 0.5s;
}

.search_button:active{
    background-color: rgb(255, 255, 255);
    transition-duration: 0.05s;
    width: 34.5%;
    height: 49px;
    margin-top: 0.5px;
    margin-right: 0.25%;
}

.line_1{
    margin-top: 20px;
    height: 1px;
    width: 98%;
    background-color: black;
}

.line_2{
    height:1px;
    width: 98%;
    margin: 10px 0px 0px 0px;
    background-color: black;
}

.list_area{
    
    width: 100%;
    height: 1000px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_card{
    margin: 20px;
    width: 98%;
    height: 125px;
    border: 2px solid #242932;
    border-radius: 20px;
    background-color: #151b23;
}

.project_name{
    width: 80%;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 35px;
    font-weight: bold;
    color: #336ac3;

}

.project_link{
    width: 80%;
    padding-right: 5px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 5px;
    color: #afc5d1;
}